{% extends 'hod_templates/base_template.html'%} {% block main_content %}
<div class="content">
    <div class="row pt">
       
        <div class="col-lg-5 justify-content-center">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Customer's Information
                </div>
                <div class="card-body">
                    <tbody>
                        <tr>
                            <td>Customer Name : - {{customer.CUSTOMER_NAME}}</td>
                            <br>
                            <br>

                            <td> Adress : - {{ customer.ADDRESS }}</td>
                            <br>
                            <br>

                            

                            <td>Product : - {{ customer.PRODUCT }}</td>
                            <br>
                            <br>

                            <td>Cost: - {{ customer.COST }}</td>
                            <br>
                            <br>
                            <td>Phone : -  {{ customer.PHONE }}</td>
                            <br>
                            <br>

                            

                         

                        </tr>
                    </tbody>
                </div>
            </div>
        </div>
        

  
        </div>
    </div>


</div>

{% endblock %}