{% extends 'hod_templates/base_template.html'%}
{% load static %}
{% block page_title %}
<h5>All Customers</h5>

{% endblock page_title %}
{% block main_content %}
<section class="content">
    
        {% if messages %}
        <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endif %}
    <div class="row">
        
        <div class="col-md-12 px-3">
                
            <div class="card card-primar sc">
                <div class="card-header">
                    <span>CUSTOMERS Records</span>
                   <div class="card-tools d-flex">
                       
              
                <a class="btn btn-sm btn-info mr-2" href="{% url 'create_customer' %}" role="button">+ Add CUSTOMER</a> 

            </div>

                </div>
                <table  class="table table-bordered table-hover dataTable" id="plist">
                    <thead>
                            <tr>
                                    <th>No</th>
                                    <th>Customer Name</th>
                                    <th>Address</th>
                                    <th> Product </th>
                                    <th>Cost</th>
                                    <th>Phone</th>
                                     <th class="text-center">Action</th>
                            </tr>
                    </thead>
                    <tbody>
                            {% for customer in customer %}
                            <tr class="hov"> <td>{{ forloop.counter }}</td>
                                <td>{{customer.CUSTOMER_NAME}}</td>
                                <td>{{customer.ADDRESS}}</td>
                                <td>{{customer.PRODUCT}}</td>
                                <td>{{customer.COST}}</td>
                                <td>{{customer.PHONE}}</td>
                                <td><a href="{% url 'edit_customer' customer.id %}" class="btn btn-sm btn-success">Edit</a>                     
                                    <a href="{% url 'deleteCustomer' customer.id %}" class="btn btn-sm btn-danger">Delete</a></a>
                                    <a href="{% url 'customer_details' customer.id %}" class="btn btn-sm btn-warning">View</a></td> 
            
                            </tr>
                            {% endfor %}
                    </tbody>
                   
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}