{% extends 'hod_templates/base_template.html'%}
{% load static %}
{% block page_title %}
<h5>All {{title}}</h5>

{% endblock page_title %}
{% block main_content %}
<section class="content">
    
        {% if messages %}
        <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endif %}
    <div class="row">
        
        <div class="col-md-12 px-3">
                
            <div class="card card-primar sc">
                <div class="card-header">
                    <span>Employees Records</span>
                   <div class="card-tools d-flex">
                       
              
                <a class="btn btn-sm btn-info mr-2" href="{% url 'employee_form' %}" role="button">+ Add Employee</a> 

            </div>

                </div>
                <table  class="table table-bordered table-hover dataTable" id="plist">
                    <thead>
                            <tr>
                                    <th>No</th>
                                    <th>Employee Name</th>
                                    <th>Address</th>
                                    <th> Phone </th>
                                    <th>Medicine Sold</th>
                                    <th>Selling Date</th>

            
                                     
                                     <th class="text-center">Action</th>
                                    
        
                            </tr>
                    </thead>
                    <tbody>
                            {% for employee in employee %}
                            <tr class="hov"> <td>{{ forloop.counter }}</td>
                                <td>{{employee.EMPLOYEE_NAME}}</td>
                                <td>{{employee.ADDRESS}}</td>
                                <td>{{employee.PHONE}}</td>
        
                                
        
                                <td>{{employee.MEDICINE_SOLD}}</td>
                                <td>{{employee.SELLING_DATE}}</td>


                                <td><a href="{% url 'edit_employee' employee.id %}" class="btn btn-sm btn-success">Edit</a>                     
                                    <a href="{% url 'deleteEmployee' employee.id %}" class="btn btn-sm btn-danger">Delete</a></a>
                                    <a href="{% url 'employee_details' employee.id %}" class="btn btn-sm btn-warning">View</a></td> 
            
                            </tr>
                            {% endfor %}
                    </tbody>
                   
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}